@mixin roundcorners($radius) {
  border-radius: $radius;
}

@mixin body_background_gradient() {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(left, #1e5799 8%, #2989d8 25%, #207cca 84%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(8%,#1e5799), color-stop(25%,#2989d8), color-stop(84%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #1e5799 8%,#2989d8 25%,#207cca 84%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #1e5799 8%,#2989d8 25%,#207cca 84%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #1e5799 8%,#2989d8 25%,#207cca 84%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(to right, #1e5799 8%,#2989d8 25%,#207cca 84%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */  
}

@mixin main_col_background_gradient() {
  background: #e1ffff; /* Old browsers */
  background: -moz-linear-gradient(left, #e1ffff 0%, #e1ffff 5%, #eff9fc 11%, #eff9fc 91%, #c8eefb 97%, #bee4f8 100%, #b1d8f5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e1ffff), color-stop(5%,#e1ffff), color-stop(11%,#eff9fc), color-stop(91%,#eff9fc), color-stop(97%,#c8eefb), color-stop(100%,#bee4f8), color-stop(100%,#b1d8f5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #e1ffff 0%,#e1ffff 5%,#eff9fc 11%,#eff9fc 91%,#c8eefb 97%,#bee4f8 100%,#b1d8f5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #e1ffff 0%,#e1ffff 5%,#eff9fc 11%,#eff9fc 91%,#c8eefb 97%,#bee4f8 100%,#b1d8f5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #e1ffff 0%,#e1ffff 5%,#eff9fc 11%,#eff9fc 91%,#c8eefb 97%,#bee4f8 100%,#b1d8f5 100%); /* IE10+ */
  background: linear-gradient(to right, #e1ffff 0%,#e1ffff 5%,#eff9fc 11%,#eff9fc 91%,#c8eefb 97%,#bee4f8 100%,#b1d8f5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=1 ); /* IE6-9 */  
}

body {
  > .panel-display {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    @include main_col_background_gradient();
  }
  font-size: 16px;
  font-family: "Monda", sans-serif;
  @include body_background_gradient();
}

.page-header-box {
  h1 {
    font-size: 36px;
    text-align: center;
    font-family: 'Galindo', cursive;
    padding-bottom: 25px;
    padding-top: 25px;
    @include roundcorners(10px);
  }
  background-color: white;
  padding: 5px;
}

.pane-page-primary-links {
  li {
    a {
      text-decoration: none;
      font-size: 24px;
      color: black;
      background-color: lightpink;
      @include roundcorners(5px);
      padding: 5px;
      border: 1px solid black;
      &:hover {
        background-color: lightyellow;
      }
    }
    float: left;
    margin: 5px;
    
  }
}

.panel-col-middle {
  padding: 10px;
}

.panel-2col-bricks .panel-col-first{
  width: auto;
  max-width: 700px;
}

.panel-2col-bricks .panel-col-last{
  width: auto;
  max-width: 240px;
  float: right;
}  

.user-status-box{
  border: 1px solid black;
  background-color: lightgreen;
  @include roundcorners(3px);
}




#mini-panel-user_logged_in {
  .pane-user-name {
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
  .panel-separator {
    display: none;
  }
  .pane-system-user-menu {
    float: left;
    ul li {
      float: left;
      a {
        margin: 5px;
        border: 1px;
        text-decoration: none;
        color: #333;
        &:hover {
          color: red;
        }
      }
    }
  }
  
}